@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  /* --cl-red: rgb(206, 27, 27); */
  --cl-red: rgb(221, 66, 66);
  --cl-blue: rgb(0, 0, 184);
  --cl-white: white;
  --cl-grey: rgb(212, 212, 212);
  --cl-blk: black;
  --bg-slider: rgba(0, 0, 0, 0.432);
  --bg-slider: rgba(0, 0, 0, 0.432);
  --bg-infos: rgba(0, 0, 0, 0.493);
  --bg-modal: rgba(0, 0, 0, 0.651);
  --bg-input: rgba(240, 240, 240, 0.925);
  --bg-blog: rgb(247, 247, 247);
}

.nav-link a .active {
  color: red !important;
}

html,
body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}
body {
  font-weight: 600;
  position: relative;
  text-align: justify;
}
.toast-container {
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  width: inherit;
  height: inherit;
}
.toast-container button {
  font-size: inherit;
  color: inherit;
  width: inherit;
  height: inherit;
}
.title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
.title span {
  color: var(--cl-red);
}
/* BTNS */
button {
  border-radius: 0.6rem;
  width: 12rem;
  height: 3rem;
  font-weight: 600;
  border: 0.2rem solid var(--cl-red);
  outline: none;
  background-color: var(--cl-red);
  color: var(--cl-white);
  transition: 0.3s;
  z-index: 1;
  position: relative;
}
button:hover {
  border: 0.2rem solid var(--cl-red);
  color: var(--cl-red);
}

button::before {
  background-color: var(--cl-white);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.6s;
  border-radius: 0.6rem;
}
button:hover::before {
  width: 100%;
}

.scroll-to-top-button {
  position: fixed;
  right: 1rem;
  bottom: 0.4rem;
  border-radius: 0.6rem;
  width: 3rem;
  height: 3rem;
  border: 0.2rem solid var(--cl-red);
  background-color: var(--cl-red);
  color: var(--cl-white) !important;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}
.scroll-to-top-button:hover {
  border: 0.2rem solid var(--cl-red);
  color: var(--cl-red) !important;
}
.scroll-to-top-button::before {
  background-color: var(--cl-white);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.4s;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}
.scroll-to-top-button:hover::before {
  width: 100%;
}

/* HEADER */
.header {
  color: var(--cl-white);
  background-color: #333;
}
.header-media {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.01rem !important;
}
.header-media .i {
  font-size: 0.9rem !important;
}
.header-media li {
  font-size: 0.9rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.header .fa {
  transition: 0.4s;
  cursor: pointer;
  font-size: 1.1rem !important;
  font-weight: 800;
}
.header .fa:hover {
  color: var(--cl-red);
}
.header img {
  cursor: pointer;
}

/* NAVBAR */

.loader {
  width: 100%;
  height: 100vh;
}
.loader img {
  width: 12rem;
}
.container-navbar {
  background-color: var();
  background-color: var(--bg-slider);
}
.navbar {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.offcanvas-body ul {
  margin-top: 0.3rem;
}
.offcanvas-backdrop,
.modal-backdrop {
  display: none !important;
  opacity: 0 !important;
}
.nav-item {
  margin-right: 1rem;
}
.nav-link .active {
  color: var(--cl-red) !important;
}
.dropdown-item {
  margin-bottom: 0.5rem;
}

.dropdown-item:hover {
  padding-left: 1rem;
  color: var(--cl-red);
}
.nav-link {
  color: var(--cl-blk);
  position: relative;
  transition: 0.4s;
}
.navbar .nav-link.active {
  color: var(--cl-red);
  font-weight: bold;
}
.nav-link::before {
  content: "";
  width: 0;
  height: 0.2rem;
  background-color: var(--cl-red);
  position: absolute;
  top: 2rem;
  left: 0.5rem;
  transition: 0.4s;
}
.nav-link:hover::before {
  width: 50%;
}
.nav-link:hover {
  color: var(--cl-red);
}
.nav-item:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  display: none;
  position: relative;
  border-top: 0.3rem solid var(--cl-red);
  border-radius: 0;
  margin-top: 0.5rem;
  width: 15rem;
}
.dropdown-item {
  color: var(--cl-blk);
  font-weight: 600;
  transition: 0.4s;
}
.dropdown-item:hover {
  padding-left: 1.5rem;
}
/* MODAL */

.show {
  display: block;
}
.modal-container {
  text-align: center;
  padding: 10rem 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-modal);
  width: 100%;
  height: 100vh;
  z-index: 100;
  color: var(--cl-blk);
}
.modal {
  width: 100%;
}
.modal-header {
  border-bottom: 0.2rem solid var(--cl-blk);
  margin-bottom: 3rem;
}
.modal-body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* FORM */
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 70rem;
  padding: 1.5rem;
}
.form input {
  width: 22rem;
  height: 3rem;
  padding: 0 1.5rem;
  border-radius: 0.2rem;
  border: 0.1rem solid var(--bg-slider) !important;
}
.form .phone {
  width: 22rem !important;
  height: 3rem !important;
  border-radius: 0.2rem !important;
  border: 0.1rem solid var(--bg-slider) !important;
}
.form select {
  width: 22rem;
  height: 3rem;
  border-radius: 0.2rem;
  padding: 0 1.5rem;
  border: 0.1rem solid var(--bg-slider) !important;
  background: none !important;
  font-weight: 700;
}
.form .input-container {
  display: flex;
  flex-direction: column;
}
.form .input-container label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form .datetime {
  display: flex;
  gap: 1rem;
}
.form .date {
  width: 14rem !important;
}
.form .time {
  width: 7rem;
}
.form textarea {
  width: 45rem;
  min-height: 15rem;
  border: 0.1rem solid var(--bg-slider) !important;
  border-radius: 0.2rem;
}
.form-content input,
.form-content .phone {
  width: 26rem !important;
}
.modal .modal-content {
  position: relative;
  min-height: 90vh;
  background-color: var(--cl-white);
}
.modal-body h2 {
  font-weight: bolder;
}

.modal-body a {
  color: var(--cl-white);
  text-decoration: none;
  transition: 0.5s;
}
.modal-body button:hover a,
.form button:hover a {
  color: var(--cl-blk);
}
.modal-body button,
.form button {
  padding: 0.1rem 2rem !important;
  width: 15rem;
  height: 4rem;
  background-color: var(--cl-blk);
  border: 0.2rem solid var(--cl-blk);
  color: var(--cl-white);
  border-radius: 0.6rem;
  text-decoration: none;
  z-index: 1;
  position: relative;
}
.modal-body button:hover,
.form button:hover {
  color: var(--cl-blk);
  border: 0.2rem solid var(--cl-blk);
}
.modal-body button::before,
.form button::before {
  background-color: var(--cl-white);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.6s;
  border-radius: 0.6rem;
}
.modal-body button:hover::before,
.form button:hover::before {
  width: 100%;
}
.modal-btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 1rem;
  font-size: 3rem;
  height: 3rem;
  text-decoration: none;
  width: 3rem;
  color: var(--cl-blk);
  transition: 0.4s;
  cursor: pointer;
}
.modal-btn-close:hover {
  color: var(--cl-red);
  transform: rotate(360deg);
}
.error {
  color: var(--cl-red);
}

/* SLIDER */

.slider {
  width: 100%;
  height: 40rem;
  margin-bottom: 5rem;
  position: relative;
  background: url("/mmsg-bg.jpg") center/cover no-repeat;
  backdrop-filter: blur(5px);
  border: none;
  outline: none;
}
.slider-blur {
  position: absolute;
  background-color: var(--bg-slider);
  left: 0;
  top: 0;
  z-index: -1;
}
.slider-top {
  z-index: 100;
  padding-top: 13rem;
  color: var(--cl-white);
  text-align: justify;
}
.slider-top button:last-child {
  color: var(--cl-red) !important;
  background-color: var(--cl-white);
  border: 0.2rem solid var(--cl-red);
  color: var(--cl-white);
  position: relative;
  z-index: 1;
}
.slider-top button:last-child:hover {
  color: var(--cl-white) !important;
  border: 0.2rem solid var(--cl-white);
}
.slider-top button:last-child::before {
  background-color: var(--cl-red);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.6s;
  border-radius: 0.3rem;
}
.slider-top button:last-child:hover::before {
  width: 100%;
}
.slider-top h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 2rem;
  z-index: 1;
}
.slider-top h2 {
  font-size: 5rem;
  font-weight: 700;
  z-index: 1;
  color: var(--cl-red);
}
.slider-top p {
  color: var(--cl-white);
  margin-bottom: 3rem;
}
.slider img {
  width: 2rem;
}
.slider-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}
.slider-card {
  max-width: 34rem;
  height: 20rem;
  background-color: var(--cl-white);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.slider-card-top {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.slider-card-top:first-child {
  border-bottom: 0.2rem solid var(--cl-white);
}
.slider-card:last-child .slider-card-top {
  border-bottom: 0.2rem solid var(--cl-blk);
}
.slider-card:first-child {
  background-color: var(--cl-red);
  color: var(--cl-white);
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
}
.slider-card:first-child button {
  background-color: var(--cl-white);
  border: 0.2rem solid var(--cl-white);
  color: var(--cl-red);
  position: relative;
  z-index: 1;
}
.slider-card:first-child button:hover {
  color: var(--cl-white);
  border: 0.2rem solid var(--cl-white);
}
.slider-card:first-child button::before {
  background-color: var(--cl-red);
  color: var(--cl-white);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.6s;
  border-radius: 0.6rem;
}
.slider-card:first-child button:hover::before {
  width: 100%;
}

.slider-card:last-child button {
  background-color: var(--cl-blk);
  border: 0.2rem solid var(--cl-blk);
  color: var(--cl-white);
  position: relative;
  z-index: 1;
}
.slider-card:last-child button:hover {
  color: var(--cl-blk);
  border: 0.2rem solid var(--cl-blk);
}
.slider-card:last-child button::before {
  background-color: var(--cl-white);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.6s;
  border-radius: 0.6rem;
}
.slider-card:last-child button:hover::before {
  width: 100%;
}
.slider-card h2 {
  font-weight: 600;
  font-size: 1.4rem;
}
.slider-card p {
  font-size: 1.2rem;
}

/* SOINS */
.soins-container button {
  width: 15rem;
  background-color: var(--cl-blk);
  border: 0.2rem solid var(--cl-blk);
}
.soins-container button:hover {
  color: var(--cl-blk) !important;
}
.soins-content-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.soins-card {
  width: 22rem;
  height: 20rem;
  position: relative;
}
.soins-card img {
  max-width: 20rem;
  height: 20rem;
  position: relative;
  transition: 0.4s;
  border-radius: 0.6rem;
}
.soins-card img:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.soins-card button {
  position: absolute;
  right: 0.5rem;
  bottom: 1rem;
  width: 15rem;
  background-color: var(--cl-red);
  border: 0.2rem solid var(--cl-red);
  color: var(--cl-white);
}
.soins-card button:hover {
  color: var(--cl-red) !important;
}

/* INFOS */
.infos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 20rem;
}
.infos {
  width: 100%;
  min-height: 20rem;
  background: url("/public/bg-infos.jpg") center/cover no-repeat;
  position: relative;
}
.infos-blur {
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--bg-infos);
}
.infos-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 1;
}
.infos-card {
  width: 17rem;
  height: 15rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: justify;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.infos-card:first-child,
.infos-card:nth-child(3) {
  background-color: var(--cl-red);
  color: var(--cl-white);
}
.infos-card:nth-child(2),
.infos-card:last-child {
  background-color: var(--cl-white);
}
.infos-card:last-child {
  background-color: var(--cl-white);
}
.infos-card:first-child h3,
.infos-card:nth-child(3) h3 {
  font-size: 1.2rem;
  font-weight: bolder;
  padding-bottom: 0.7rem;
  border-bottom: 0.2rem solid var(--cl-white);
}
.infos-card:nth-child(2) h3,
.infos-card:last-child h3 {
  font-size: 1.2rem;
  font-weight: bolder;
  padding-bottom: 0.7rem;
  border-bottom: 0.2rem solid var(--cl-blk);
}

.infos-card:first-child button,
.infos-card:nth-child(3) button {
  background-color: var(--cl-white);
  border: 0.2rem solid var(--cl-white);
  color: var(--cl-red);
  position: relative;
  z-index: 1;
}
.infos-card:first-child button:hover,
.infos-card:nth-child(3) button:hover {
  color: var(--cl-white);
  border: 0.2rem solid var(--cl-white);
}
.infos-card:first-child button::before,
.infos-card:nth-child(3) button::before {
  background-color: var(--cl-red);
  color: var(--cl-white);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.6s;
  border-radius: 0.6rem;
}
.infos-card:first-child button:hover::before,
.infos-card:nth-child(3) button:hover::before {
  width: 100%;
}

.infos-card:nth-child(2) button,
.infos-card:last-child button {
  background-color: var(--cl-red);
  border: 0.2rem solid var(--cl-red);
  color: var(--cl-white);
  position: relative;
  z-index: 1;
}
.infos-card:nth-child(2) button:hover,
.infos-card:last-child button:hover {
  color: var(--cl-red);
  border: 0.2rem solid var(--cl-red);
}
.infos-card:nth-child(2) button::before,
.infos-card:last-child button::before {
  background-color: var(--cl-white);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.6s;
  border-radius: 0.6rem;
}
.infos-card:nth-child(2) button:hover::before,
.infos-card:last-child button:hover::before {
  width: 100%;
}
.info-btn {
  width: 18rem;
  margin-top: 5rem;
  background-color: none !important;
  color: var(--cl-white);
  transition: 0.4s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.info-btn:hover {
  padding-left: 1rem;
}

/* BLOG */
.blog-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.blog-card {
  width: 20rem;
  height: 30rem;
}
.blog-card img {
  width: 100%;
}
.blog-content h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 2rem;
}
.blog-content div {
  display: flex;
  gap: 1rem;
}
.blog-content div p {
  color: var(--cl-grey);
}
.blog-content a {
  color: var(--cl-red);
  text-decoration: none;
}
.blog-content p:last-child {
  text-align: justify;
}

/* SWIPER */
.swiper-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.swiper {
  width: 100%;
  position: relative;
  padding-bottom: 3rem;
}
.mySwiper {
  width: 90%;
  padding: 3rem 1rem;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 25rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 0.6rem;
}
.swiper-slide img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 13rem;
  border-radius: 0.6rem;
  transition: 0.5s;
}
.swiper-slide img:hover {
  transform: scale(1.1);
}
.container .swiper-button-prev,
.container .swiper-button-next {
  color: var(--cl-white);
  background-color: var(--cl-red);
  padding: 0.5rem;
  border: 0.2rem solid var(--cl-red);
  border-radius: 0.6rem;
  cursor: pointer;
  font-size: 1rem !important;
  width: 3rem;
  height: 3rem;
  z-index: 100;
  transition: 0.5s;
  position: absolute;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: var(--cl-red);
  background-color: var(--cl-white);
  border: 0.2rem solid var(--cl-red);
}
.mySwiper .swiper-button-prev {
  font-size: 0.5rem;
  left: -10%;
}
.container .swiper-button-next {
  right: -10%;
  font-size: 0.5rem;
}

.mySwiper .swiper-pagination {
  bottom: 0rem;
}

.swiper-pagination-bullet {
  background-color: var(--cl-blk);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 5rem;
}

.swiper-pagination-bullet-active {
  background-color: var(--cl-red);
}

/* FOOTER */
.footer {
  background-color: var(--cl-red);
  color: var(--cl-white);
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 3rem 0;
}
.footer .container ul {
  width: 22rem;
  min-height: 20rem;
  list-style: none;
}
.footer .container ul:first-child {
  background-color: var(--cl-white);
  color: var(--cl-blk);
  padding: 2rem 1rem;
  border-radius: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.315) 0px 4px 12px;
  transition: 0.5s;
}
.footer .container ul:first-child:hover {
  background-color: var(--cl-white);
  color: var(--cl-blk);
  padding: 2rem 1rem;
  border-radius: 0.6rem;
  box-shadow: 0 0 0 0;
}
.footer .container ul:first-child li:hover {
  color: var(--cl-red);
}
.footer .container ul li {
  cursor: pointer;
  transition: 0.4s;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer .container ul li:hover {
  margin-left: 1rem;
  cursor: pointer;
  color: var(--cl-blk);
}
.footer .container ul h2 {
  border-bottom: 0.1rem solid var(--cl-white);
  padding-bottom: 1rem;
  font-weight: 700;
}
.footer .container ul h2,
.footer .container ul img {
  margin-bottom: 3rem;
}
.footer img {
  width: 4rem;
}
.media .i {
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.4s;
  color: var(--cl-red);
}

.media .i:hover {
  color: var(--cl-blk);
}
.copy-right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cl-blk);
  padding: 1rem 0;
}
.copy-right h6 {
  font-weight: bold;
}

/* SOINS PAGE */
.soins-page {
  width: 100%;
  position: relative;
}
.page-head {
  position: relative;
  width: 100%;
  min-height: 25rem;
  max-height: 30rem;
}
.page-head-content {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: -20%;
  transform: translate(-50%, 50%);
  color: var(--cl-white);
}
.page-head-content h1 {
  font-size: 5rem;
  font-weight: 800;
  z-index: 100;
}
.page-head p:first-child {
  font-size: 1rem;
}
.page-head p:last-child {
  font-size: 1.2rem;
  font-weight: 700;
  position: absolute;
  right: -10%;
  top: 58%;
  transform: translate(-50%, 50%);
  font-weight: 800;
  color: var(--cl-red);
}
.soins-page-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.soins-page-card {
  width: 22rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.596) 0px 1px 4px;
  border-radius: 0;
}
.soins-page-card img {
  width: 100%;
  height: 17rem;
  border-radius: 0.6rem;
  transition: 0.5s;
}
.soins-page-card img:hover {
  transform: scale(1.08);
}
.soins-page-card h3 {
  font-weight: 700;
  color: var(--cl-red);
  font-size: 1.5rem;
}
.soins-page-card button {
  width: 100%;
  border-radius: 0;
}
.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.page-content h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  max-width: 32rem;
  text-align: center;
}
.page-content p {
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #333;
  border-radius: 0.6rem;
  padding: 2rem;
  color: var(--cl-white);
  width: 100%;
}

/* MEDECINE GENERALE */
.bg-red-white {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 3rem 0;
  padding: 1rem 0;
  border-radius: 0.6rem;
  color: var(--cl-blk);
  box-shadow: rgba(0, 0, 0, 0.473) 0px 1px 4px;
}
.bg-red {
  flex: 1 1 40rem;
  background-color: var(--cl-red);
  z-index: 100;
  max-width: 33rem;
  height: 100%;
  border-radius: 0.6rem;
  padding: 2rem;
  color: var(--cl-white);
}
.bg-red li {
  text-align: start;
  list-style: none;
}
.bg-red img {
  width: 100%;
  border-radius: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.473) 0px 1px 4px;
  transition: 0.5s;
}
.bg-red img:hover {
  transform: scale(1.09);
}
.bg-red p {
  margin-top: 3rem;
  text-align: justify;
}
.bg-red button {
  margin-top: 2rem;
  background-color: var(--cl-white);
  border: 0.2rem solid var(--cl-white);
  color: var(--cl-red);
  position: relative;
  z-index: 1;
}
.bg-red button:hover {
  color: var(--cl-white);
  border: 0.2rem solid var(--cl-white);
}
.bg-red button::before {
  background-color: var(--cl-red);
  color: var(--cl-white);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.6s;
  border-radius: 0.6rem;
}
.bg-red button:hover::before {
  width: 100%;
}
.bg-red-white-container .bg-white {
  max-width: 33rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  flex: 1 1 40rem;
  background-color: var(--cl-white);
  z-index: 100;
  border-radius: 0.6rem;
}
.bg-red-white-container .bg-white div {
  width: 100%;
  min-height: 10rem;
  background-color: var(--cl-white);
  box-shadow: rgba(0, 0, 0, 0.637) 0px 1px 4px;
  border-radius: 0.6rem;
  transition: 0.5s;
}
.bg-red-white-container .bg-white div:hover {
  background-color: var(--cl-blk);
  color: var(--cl-white);
}
.bg-red-white-container .bg-white h4 {
  font-weight: 700;
  margin-top: 2rem;
}
.bg-red-white-container .bg-white p {
  text-align: justify;
}
.autres-soins-container {
  width: 100%;
  height: auto;
  margin-bottom: 5rem;
}
.autres-soins {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--cl-white);
  border-radius: 0.6rem;
  color: var(--cl-blk);
  box-shadow: rgba(0, 0, 0, 0.637) 0px 1px 4px;
}
.autres-bg-img {
  flex: 1 1 40rem;
  max-width: 33rem;
  padding: 1.5rem;
}
.autres-bg-img img {
  width: 100%;
  border-radius: 0.6rem;
}
.autres-bg-content {
  flex: 1 1 40rem;
  max-width: 35rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 2rem;
  border-radius: 0.6rem;
}
.autres-bg-content a {
  color: var(--cl-white);
  text-decoration: none;
  background-color: var(--cl-red);
  border-radius: 0.6rem;
  padding: 0.5rem;
}
.autres-bg-content div {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.autres-bg-content h2 {
  font-size: 1.8rem;
  font-weight: 700;
  transition: 0.5s;
}
.autres-bg-content h2:hover {
  color: var(--cl-blk);
  padding-left: 1rem;
}
.autres-bg-content img {
  width: 8rem;
  height: 5rem;
  transition: 0.5s;
  border-radius: 0.6rem;
}
.autres-bg-content img:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transform: scale(1.04);
}

/* CONTACT */
.page-head {
  position: relative;
  background: url("/bg-infos.avif") center/cover no-repeat;
  backdrop-filter: blur(5px);
  width: 100%;
  min-height: 30rem;
}
.blog-head {
  position: relative;
  background: url("/bg-pages-5.jpg") center/cover no-repeat;
  backdrop-filter: blur(5px);
  width: 100%;
  min-height: 30rem;
}
.contact-head {
  position: relative;
  background: url("/bg-pages-10.jpg") center/cover no-repeat;
  backdrop-filter: blur(5px);
  width: 100%;
  min-height: 30rem;
}
.contact-blur {
  position: absolute;
  background-color: var(--bg-slider);
  left: 0;
  top: 0;
  z-index: -1;
}
.page-head h1,
.page-head p {
  z-index: 100;
}
.contact-form {
  width: 100%;
  min-height: auto;
  background-color: var(--cl-red);
}
.contact-form .media .i {
  font-size: 2rem !important;
  color: var(--cl-white) !important;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.form-content {
  flex: 1 1 40rem;
  max-width: 32rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: var(--cl-white);
}
.form-content:last-child {
  color: var(--cl-blk);
  background-color: var(--cl-white);
  padding: 2rem;
  border-radius: 0.6rem;
}
.form-content form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-content form input,
.form-content form textarea {
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  margin-top: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.589) 0px 1px 4px;
}
.form-content h2,
.contact h1 {
  font-weight: 700;
}
.form-content h5 {
  font-size: 1.4rem;
  font-weight: 600;
}
.form-content .i {
  font-size: 3rem;
}
.contact-form form div {
  display: flex;
  flex-direction: column;
}
.contact .mySwiper {
  width: 100% !important;
  display: flex;
  gap: 2rem;
}
.contact .swiper-slide {
  padding: 0;
  min-width: 100% !important;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.contact .swiper-slide img {
  min-width: 100% !important;
  height: 40rem;
}

.contact .swiper-button-prev,
.contact .swiper-button-next {
  color: var(--cl-white);
  background-color: var(--cl-red);
  border: 0.2rem solid var(--cl-red);
  border-radius: 0.6rem;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  z-index: 100;
  transition: 0.5s;
  position: absolute;
  padding: 0.5rem;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: var(--cl-red);
  background-color: var(--cl-white);
  border: 0.2rem solid var(--cl-red);
}
.contact .swiper-button-prev {
  font-size: 0.5rem;
  left: 4rem;
}
.contact .swiper-button-next {
  right: 4rem;
  font-size: 0.5rem;
}

.mySwiper .swiper-pagination {
  bottom: 0rem;
}

.swiper-pagination-bullet {
  background-color: var(--cl-blk);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 5rem;
}

.swiper-pagination-bullet-active {
  background-color: var(--cl-red);
}

/* BLOG POSTS */
.posts-container {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
.post-cards {
  flex: 1 1 40rem;
  max-width: 45rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.post-card {
  width: 45rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.post-card img {
  width: 100%;
  border-radius: 0.6rem;
  transition: 0.5s;
}
img {
  transition: 0.3s;
}
img:hover {
  transform: scale(1.02);
}
.post-card h6 {
  font-weight: 500;
}
.post-card h6 p:last-child {
  color: var(--cl-red);
  font-weight: 600;
}
.post-search {
  width: 100%;
  border: 0.1rem solid var(--cl-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.post-search input {
  border: none;
}
.post-search .icon-search {
  font-size: 1.5rem;
  transition: 0.5s;
  cursor: pointer;
  color: var(--cl-red);
}
.recent-card {
  width: 100%;
}
.recent-card h6 {
  font-weight: 700;
}
.recent-card li {
  font-weight: 500;
}
.recent-card li li:last-child {
  color: var(--cl-red);
  font-weight: 600;
}
.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.gallery img {
  width: 9rem;
  height: 6rem;
  border-radius: 0.6rem;
}
.gallery img:hover {
  transition: 0.5s;
}
.post-menu {
  max-width: 24rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  list-style: none;
}
.post-menu input {
  width: 100%;
  border: none;
  outline: none;
}
.post-menu h5 {
  color: var(--cl-blk);
  border-bottom: 0.1rem solid var(--cl-grey);
  padding-bottom: 0.5rem;
  position: relative;
  margin-bottom: 1.5rem;
  font-weight: 700;
}
.post-menu h5::before {
  content: "";
  background-color: var(--cl-red);
  width: 4rem;
  height: 0.1rem;
  position: absolute;
  bottom: -0.1rem;
  left: 0;
}
.pagination {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}
.pagination a {
  font-weight: 700;
  color: var(--cl-blk);
  font-size: 1.5rem;
}
.pagination .active {
  color: var(--cl-red) !important;
}

/* INFOS */
.infos-head {
  position: relative;
  background: url("/bg-pages-7.jpg") center/cover no-repeat;
  backdrop-filter: blur(5px);
  width: 100%;
  min-height: 30rem;
}
.infos-blur {
  position: absolute;
  background-color: var(--bg-slider);
  left: 0;
  top: 0;
  z-index: -1;
}
.apropos-container .infos-container {
  position: relative;
  min-height: 20rem;
  margin-bottom: 13rem !important;
}
.apropos-blur {
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--bg-slider);
}
.apropos-desc {
  color: var(--cl-white);
  z-index: 1;
  background-color: #333;
  padding: 2rem;
}
.apropos-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 1;
}
.apropos-card {
  max-width: 30rem;
  height: 20rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: justify;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.apropos-card:first-child {
  background-color: var(--cl-red);
  color: var(--cl-white);
}
.apropos-card:last-child {
  background-color: var(--cl-white);
}
.apropos-card:last-child {
  background-color: var(--cl-white);
}
.apropos-card:first-child h3 {
  z-index: 1;
  font-size: 1.2rem;
  font-weight: bolder;
  padding-bottom: 0.7rem;
  border-bottom: 0.2rem solid var(--cl-white);
}
.apropos-card:last-child h3 {
  z-index: 1;
  font-size: 1.2rem;
  font-weight: bolder;
  padding-bottom: 0.7rem;
  border-bottom: 0.2rem solid var(--cl-blk);
}

/* PAIEMENT */
.paiement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.39) 0px 1px 4px;
}
.paiement .paiement-card:first-child {
  flex: 1 1 40rem;
  width: 30rem;
  height: 100vh;
  background-color: var(--cl-white);
  color: var(--cl-blk);
  padding: 5rem;
}
.paiement .paiement-card:first-child h1 {
  font-weight: 700;
  text-align: center;
}
.paiement .paiement-card:first-child h1:first-child {
  margin-bottom: 5rem;
  font-size: 4rem !important;
}
.rotating-icon {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.paiement .paiement-card:last-child {
  flex: 1 1 40rem;
  width: 30rem;
  height: 100vh;
  background-color: var(--cl-red);
  color: var(--cl-white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.paiement .paiement-card:last-child div {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.paiement .paiement-card:last-child div h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.2rem solid var(--cl-white);
  padding-bottom: 0.5rem;
  font-weight: 700;
}

/* EQUIPE */
.equipe-card img {
  height: 20rem;
}

/* CANDIDATURE */
.candidature {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 1px 4px;
}
.candidature-card {
  flex: 1 1 40rem;
  width: 30rem;
  height: 80vh;
  list-style: none;
}
.candidature-card:first-child {
  width: 100%;
  max-height: 100vh;
  background: url("/candidature.jpg") center/cover no-repeat;
}
.candidature-card:last-child {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.candidature-card:last-child h5 {
  font-weight: 700;
  color: var(--cl-red);
}
.candidature-card li {
  list-style: none;
}

/* CANDIDATURE */
.faq {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 1px 4px;
}
.faq-card {
  flex: 1 1 40rem;
  width: 30rem;
  min-height: 80vh;
  list-style: none;
}
.faq-card:first-child {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.faq-card:last-child {
  width: 100%;
  background: url("/faq.jpg") center/cover no-repeat;
}
.faq-card li {
  list-style: none;
}
.question-container {
  background-color: var(--cl-red);
  padding: 1rem;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: 0.5s;
}
.question-container h3 {
  width: 100%;
  font-size: 1.2rem !important;
  font-weight: 700;
  color: var(--cl-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.question-container ul {
  color: var(--cl-white);
  padding: 1rem;
  border-top: 0.2rem solid var(--cl-white);
}
.question-container h3 .i {
  font-size: 1.2rem !important;
  transition: 0.5s;
}
.question-container:hover h3 .i {
  color: var(--cl-white);
  transform: rotate(45deg);
}
.hide {
  display: none;
  transition: 0.5s;
}
.show {
  display: block;
  transition: 0.5s;
}

/* CPAS */
.cpas .container {
  padding: 2rem;
  border-radius: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.308) 0px 1px 4px;
}
.cpas li {
  list-style: none;
}
.cpas li .i {
  font-size: 1.5rem;
  color: var(--cl-red);
}
.cpas-cards {
  text-decoration: none !important;
}
.cpas-card {
  height: 17rem !important;
  text-decoration: none !important;
}
.cpas-card a {
  text-decoration: none !important;
}

@media (max-width: 768px) {
  /* HEADER */
  .header {
    padding: 0 2rem;
  }
  .header-media li {
    display: none;
  }
  .header-media li:nth-child(1) {
    display: block;
  }

  /* NAVBAR */
  .offcanvas-body {
    background-color: none !important;
  }
  .media-header {
    display: none;
  }
  .navbar-toggler {
    position: absolute;
    right: 2rem;
    width: 3rem;
    font-size: 1.7rem;
    color: var(--cl-red);
  }
  .navbar {
    padding: 0 2rem !important;
    position: relative;
  }
  .navbar-toggler.navbar-toggler-icon {
    color: var(--cl-red) !important;
    font-size: 2rem;
  }

  .btn-rdv {
    margin-top: 3rem;
  }
  /* MODAL */
  .modal-body form textarea {
    width: 23rem;
  }
  .form {
    padding: 0 !important;
  }
  .form textarea {
    width: 22rem;
  }

  /* SLIDER */
  .slider-top {
    z-index: 100;
    padding-top: 10rem;
    padding-left: 1.5rem;
    color: var(--cl-white);
    text-align: justify;
  }
  .slider-top h1 {
    font-size: 2.3rem;
  }
  .slider-top h2 {
    font-size: 3rem;
  }
  .slider-top p {
    font-size: 1rem !important;
    color: var(--cl-white);
    width: 20rem !important;
  }
  .slider-card {
    width: 22rem !important;
    z-index: 100;
  }

  /* SOINS */
  .soins-card img {
    max-width: 22rem;
    height: 20rem;
    position: relative;
  }
  .soins-card button {
    position: absolute;
    right: -1rem;
    bottom: 1rem;
    width: 15rem;
    background-color: var(--cl-red);
    border: 0.2rem solid var(--cl-red);
  }
  /* INFOS */
  .infos-container {
    position: relative;
    min-height: 20rem;
    margin-bottom: 58rem !important;
  }
  .infos-cards {
    position: absolute;
    bottom: -26.7rem;
    z-index: 1;
  }
  .infos-card {
    width: 22rem !important;
  }

  .info-btn {
    width: 18rem;
    font-size: 1rem;
    position: absolute;
    top: 17rem;
    background-color: var(--cl-blk) !important;
    border: none !important;
  }
  /* BLOG */

  .blog-card {
    width: 22rem !important;
  }

  .mySwiper .swiper-button-prev {
    left: -6rem;
    font-size: 0.5rem;
  }
  .container .swiper-button-next {
    right: -5rem;
    font-size: 0.5rem;
  }
  /* FOOTER */

  .footer .container ul:first-child {
    margin-left: 2rem;
  }
  .copy-right {
    padding-right: 5rem;
    padding: 1rem 2rem;
  }

  /* PAGES */
  /* PAGE HEAD H1 */

  .page-head-content h1 {
    font-size: 2rem;
    font-weight: 800;
  }
  .page-head p:last-child {
    font-size: 1rem;
    font-weight: 700;
    position: absolute;
    right: -10%;
    top: 45%;
    transform: translate(-50%, 50%);
    font-weight: 800;
  }
  /* MEDECINE GENRALE */
  .bg-red-white {
    width: 100%;
    min-height: 100vh;
  }
  .autres-bg-content h2 {
    font-size: 1rem;
  }
  /* CONTACT */

  .form-content {
    flex: 1 1 40rem;
    width: 24rem;
    padding: 1rem 0 !important;
  }
  .form-content input,
  .form-content .phone {
    width: 22rem !important;
  }
  .contact .swiper-slide {
    height: 20rem;
  }
  .contact .swiper-slide img {
    min-width: 100% !important;
    height: 20rem;
  }
  /* BLOG POSTS */
  .posts-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .post-card {
    width: 24rem;
    font-size: 1rem !important;
  }

  /* INFOS */

  .apropos-container .infos-container {
    margin-bottom: 20rem !important;
  }
}



/* CHATBOT */


*{
  font-family: "Poppins", sans-serif;
}
/*dashboard*/

.main-content {
  padding: 20px;
  height: 100%; 
  margin-left: 170px; 
  overflow-y: auto; 
  margin-top: 40px;
}

.sidebar-container {
  background-color: #F8F7F4;
  top: 6%;
  left: 0;
  padding: 20px;
  z-index: 1000;
  width: 200px; 
  position: fixed;
  height: 100%; 
  overflow-y: auto; 
}


.top-sidebar img {
  width: 40px;
  height: 40px;
  margin-right: 300px;
}

.top-sidebar {
  display: flex;
  align-items: center;
}
.navigation-links a{
  display: block;
  padding: 10px;
  color: #0D0C22;
  text-decoration: none;
  margin: 20px 0 20px 0;
}

.navigation-links a:hover {
  background-color: white;
  border-radius: 8px;
}

.sidebar-footer { 
  padding: 20px;
  border-top: 1px solid #ddd; 
}

.logout-option{
  background-color: rgb(206, 27, 27);
  border: 1px solid #fff;
  border-radius: 8px;
  color:#ffffff;
  font-size:14px;
  font-weight:600;
  height:fit-content; 
  padding:7px;
  width:fit-content;   
}
/*tableau de bord style*/
.calendar-container{
  margin-top: 30px;
}
.infos-container{
  display: flex;
}
.analyses{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  width:220px;
  height:120px;
  background-color: #fff;
  border-radius: 12px; 
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;                                                             
  margin: 20px;
}
.liste_medecins{
  width:fit-content;
  height:fit-content;
  background-color: #fff;
  border-radius: 10px; 
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  margin: 20px;
}
.titre{
  color:rgb(206, 27, 27) ;
}


.table-container {
  padding: 30px;
  margin-top: 3%;
}
table {
  width: 100%;
}
th, td {
  padding: 6px;
  text-align: left;
}
th {
  color:rgb(206, 27, 27);
  font-weight: 500;
}

table {
  border-collapse: collapse; 
}

table,
table thead,
table tbody,
table tfoot,
table tr,
table td,
table th {
  border-bottom: 1px solid #ddd;
}


/*Charts */
.charts-container{
  display:flex;
}


